* {
    margin:0;
    padding:0;
}
.w {
    width:auto;
    margin:auto;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.header{
       height: 60px;
       background-color:#0161ac;
       margin: auto auto;
}
.nav{
    float: left;
    margin-left: 60px;
}
.nav ul li {
    float: left;
}
.nav ul li a {
    display: block;
    height: 60px;
    padding: 0 30px;
    line-height:60px;
    font-size: 30px;
    color: white;
}
<!--自我介绍区域 -->
.content {
    height: 2100px;
    background-color:pink;
}
