* {
    margin:0;
    padding:0;
}
.w {
    width:auto;
    margin:auto;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.header{
         height: 194px;
       background-color:#0161ac;
       margin: auto auto;
}
.nav{
    float: left;
    margin-left: 60px;
}
.nav ul li {
    float: left;
}
.nav ul li a {
    display: block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    font-size: 30px;
    color: royalblue;
}
